#Orders table {
  margin: 2em auto 0 auto;
  border-collapse: collapse;
  font-family: sans-serif;
}

#Orders tr {
  background-color: #ddd;
}

#Orders tr:hover {
  background-color: #bbb;
}

#Orders tr:first-of-type:hover {
  background-color: #222222;
}

#Orders tr:first-of-type {
  font-weight: bold;
  font-size: 1.1em;
  background-color: #222222;
  color: #e54e2e;
}

#Orders td {
  border: 1px solid #000;
  border-collapse: collapse;
  text-decoration: none;
  padding: 1em 2em;
  text-align: center;
}

#Orders td a {
  display: block;
  text-decoration: none;
  color: black;
}



/*----------------------------------------------------------*/



#Order table {
  width: 100%;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

#Order table td {
  text-align: center;
}

#Order table img {
  width: 2em;
}

#Cart table td:nth-child(-n+2) {
  text-align: left;
}

#Orders h2 {
  text-align: center;
  padding-top: 100px;
}
