.list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  justify-content: center;
}

.list article {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 1em; margin: 1em;
  flex-grow: 1;
  display: grid;
}

.list article a {
  text-decoration: none;
}

.list article:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

.list article h3 {
  margin: 0;
  color: black;
}

.list article img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.list article .price {
  color: black;
  font-size: 22px;
}

.list article form button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.list article form button:hover {
  opacity: 0.7;
  .list
}

table {
  width: 100%;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

table td {
  text-align: center;
}

table img {
  width: 2em;
}

table td:nth-child(-n+2) {
  text-align: left;
}
