*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page_wrapper {
  min-height: 85vh;
}

.navbar{
  display: grid;
  grid-template-columns: [dropbtn-start] 2fr [dropbtn-end_centerNav-start] 4fr [centerNav-end_rightNav-start] 2fr [rightNav-end_pg-lmt];
  grid-template-rows: [row1] auto [row2];
  overflow: visible;
  background-color: #222222;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.rightNav {
  grid-area: row1 / centerNav-end_rightNav-start / row2 / rightNav-end_pg-lmt;
  margin: auto 0;
}

.dropdown
{
  grid-area: row1 / dropbtn-start / row2 / dropbtn-end_centerNav-start;
}

.centerNav{
  grid-area: row1 / dropbtn-end_centerNav-start / row2 / centerNav-end_rightNav-start;
  width: 50%;
  margin: 0 auto;
  padding: 0.5em 0;
}


.rightNav a{
  color: white;
  margin-top: 12px;
  margin-right: 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 17px;
}

.rightNav a:hover{
  color: #e54e2e;
}

.rightNav a.active{
  color: white;
}

.dropbtn{
  width: 100%;
  height: 100%;
  background-color: #e54e2e;
  color: white;
  border: none;
  font-size: 1.5em;
}

.dropdown-content{
  width: 25%;
  display: none;
  position: absolute;
  background-color: #222222;
  min-width: 160px;
  z-index: 0;
}

.dropdown-content a{
  border-width: 1.5px;
  border-style: solid;
  border-color: lightgrey;
  color: white;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  font-family: sans-serif;
  display: block;
}

.dropdown-content a:hover{
  color: #e54e2e;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover .dropbtn{
  background-color: #e54e2e;
}

.hdr_break{
  margin: 2em;
}
