#logo {
  display: block;
  width: 90%;
  margin: 0 auto;
}

#logo:hover {
  opacity: 0.95;
}

#Homepage .wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  justify-content: center;
  flex-direction: column;
}

#Homepage .wrapper article {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 1em; margin: 1em;
  flex-grow: 1;
}

#Homepage .wrapper article a {
  text-decoration: none;
}

#Homepage .wrapper article:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

#Homepage .wrapper article h3 {
  margin: 0;
  color: black;
}

#Homepage .wrapper article img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

#Homepage .wrapper article .price {
  color: black;
  font-size: 22px;
}

#Homepage .wrapper article form button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #e54e2e;
  background-color: #222222;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#Homepage .wrapper article form button:hover {
  opacity: 0.7;
  .list
}

#Homepage .wrapper section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3em;
}

#Homepage .wrapper h2 {
  font-family: sans-serif;
  padding: 0.2em 0 0.2em 2em;
  margin: 0.5em 0;
  background-color: #e54e2e;
  color: #222222;
}

#Homepage .wrapper > a {
  text-decoration: none;
}

.homepage-intro h1 {
  font-family: sans-serif;
  font-size: 3em;
  text-align: center;
  color: #222222;
  text-shadow: -1px 0 #e54e2e, 0 1px #e54e2e, 1px 0 #e54e2e, 0 -1px #e54e2e;
  margin: 0.5em 0;
}
