#Category .list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  justify-content: center;
}

#Category .list article {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 1em; margin: 1em;
  flex-grow: 1;
  display: grid;
}

#Category .list article a {
  text-decoration: none;
}

#Category .list article:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

#Category .list article h3 {
  margin: 0;
  color: black;
}

#Category .list article img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

#Category .list article .price {
  color: black;
  font-size: 22px;
}

#Category .list article form button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #e54e2e;
  background-color: #222222;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#Category .list article form button:hover {
  opacity: 0.7;
  .list
}

#pagination{
  text-align: center;
  font-size: 1.2em;
}

#pagination a{
  text-decoration: none;
}

.search {
  width: 50%;
  margin-left: 1em;
  display: flex;
  justify-content: space-evenly;
}

.search input {
  width: 30%;
  padding-left: 1em;
}

.search button {
  color: #e54e2e;
  background-color: #222222;
  border-radius: 2px;
  border-width: thick;
  border-color: #222222;
  padding: 0.5em;
}

.search button:hover {
  color: #222222;
  background-color: #e54e2e;
  cursor: pointer;
}
